*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    margin-left: 200px;
}
nav ul{
    display: flex;
    margin-left: 50px;
}
nav img{
    margin-top: 15px;
    height: 30px;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 25px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: roboto;
    font-size: 13px;
    font-weight: 600;
}

nav button{
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 40px;
    background-color: white;
    border: solid 1px rgb(34, 33, 33,.3);
    transition-duration: 400ms;
}
nav button:hover{
    border-color: rgb(79, 55, 237);

}
nav .icon{
    margin-top: 25px;
    margin-left: 150px;
}
/* end of navbar */
.shop-cat{
    background-color: #f1f6f7;
    height: 400px;
    margin-top: 30px;
    text-align: center;
}
.shop-cat h1{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-top: 150px;
}
.shop-cat p{
    font-family: roboto;
    font-size: 15px;
    margin-top: 5px;
}
/* end of header */
.hide{
    display: flex;
    margin:100px;
}
.hide .im{
    width: 31%;
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 20px;
}
.hide .img1{
    background-image: url("../images/Blog/cat-post-3.jpg");
   
}
.hide .img2{
    background-image: url("../images/Blog/cat-post-2.jpg");
   
}
.hide .img3{
    background-image: url("../images/Blog/cat-post-1.jpg");
}
.hide .opacity{
    width: 90%;
    background-color: rgb(0, 0, 0,.7);
    margin: auto;
    height: 85%;
    margin-top: 15px;
    color: white;
    text-align: center;
    transition-duration: .5s;
}
.hide .opacity h3{
    font-family: 'Oswald', sans-serif;
    padding-top: 50px;
}
.hide .opacity p{
    padding-top: 10px;
    border-top: 1px solid white;
    font-family: roboto;
    font-size: 15px;
}
.hide .img1 .opacity p{
    margin: 10px 60px 0px 60px;
}
.hide .img2 .opacity p{
    margin: 10px 95px 0px 95px;
}
.hide .img3 .opacity p{
    margin: 10px 80px 0px 80px;
}
.hide .im .opacity:hover{
    background-color: rgb(79, 55, 237,.8);
}
/* end of opacity sec */
.great{
    margin-left: 130px;
    margin-right: 100px;
}
.s-great{
    display: flex;
}
.contain-flex .flex1{
    display: flex;
    margin-bottom: 40px;
  
}

.contain-flex .flex1 .icon-p{
    margin-top: 30px;
    /* width: 88%; */
}
.contain-flex .flex1 .icon-p p{
    font-family: roboto;
    font-size: 15px;
    padding-left: 10px;
}

.contain-flex .flex1 .icon-p span{
    color:rgb(79, 55, 237) ;
}
.contain-flex .flex1 .icon-p .p-i-flex{
    display: flex;
    text-align: right;
    margin-top: 15px;
    /* direction: rtl; */
    padding-right: 20px;

}
.contain-flex .flex1 .icon-p .p-i-flex p{
    font-family: roboto;
    font-size: 15px;
}
.contain-flex .flex1 .icon-p .p-i-flex i{
    padding-left: 10px;
 
}
.contain-flex .flex1 .im-h-p{
    width: 70%;
}
.contain-flex .flex1 .im-h-p h2{
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
}
.contain-flex .flex1 .im-h-p p{
    font-family: 'roboto', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    line-height: 25px;
}
.contain-flex .flex1 .im-h-p button{
    padding: 7px 20px;
    border: 1px solid #EEEEEE;
    background-color: #f9f9ff;
    margin-top: 30px;
}
/* end of flex1 */
.s-great .flex2 .search_post{
    background-color: #fafaff;
    margin-left: 50px;
    width: 85%;
}
.s-great .flex2 .search_post input{
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 130px 10px 15px ;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgb(79, 55, 237);
    font-family: roboto;
    font-size: 14px;
    border: 0;
    color: white;
    outline: none;

}
.s-great .flex2 .search_post{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}
.s-great .flex2 .search_post .inp-i{
    position: relative;
    color: white;
}
.s-great .flex2 .search_post .inp-i i{
    position: absolute;
    right: 60px;
    top: 40px;
}
.s-great .flex2 .search_post .inp-i input::placeholder{
    color: white;
}